@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height: 100%;
  color: #fff;
  background: rgba(14, 17, 21, 1);
}

.textFill--transparent {
  -webkit-text-fill-color: transparent;
}

.header {
  min-height: calc(100vh - 50px);
}

.header-background {
  clip-path: url(#my-clip-path);
  filter: blur(135px); 
}
